/* Define base color */
$white: #ffffff;
$mineShaft: #222222;
$tundora: #4a4a4a;
$firefly: #091a28;
$kournikova: #ffe66b;
$crete: #736c24;
$radicalRed: #ff3860;
$cinnabar: #e74c3c;
$emperor: #545454;
$emerald: #48c774;
$wildSand: #f5f5f5;
